/target/
/.metadata/
/.settings
/RemoteSystemsTempFiles
/out/
/logs/
.vscode/settings.json
.factorypath
.classpath
.project
/.idea/
/ncovData/
.idea/*
/.idea/
/WebSite-config-server/target/
/WebSite-web/target/
*.iml
/WebSite-eureka/target/
/WebSite-Root/target/
