<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{[%p] %-d{yyyy-MM-dd HH:mm:ss} %l %m%n}{FATAL=Bright red, ERROR=Bright red, WARN=Bright yellow, INFO=Bright Cyan, DEBUG=Bright cyan,TRACE=blue}"/>
        </Console>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>