<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="NO_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://188.131.157.4:3306/how2jdb?characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;allowMultiQueries=true&amp;useSSL=false"/>
                <property name="username" value="how2j"/>
                <property name="password" value="liukang"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
                <property name="poolPingConnectionsNotUsedFor" value="36"/>
            </dataSource>
        </environment>
        <environment id="server">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/how2jdb?characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;allowMultiQueries=true&amp;useSSL=false"/>
                <property name="username" value="how2j"/>
                <property name="password" value="liukang"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
                <property name="poolPingConnectionsNotUsedFor" value="36"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="ORM.Mapper.UserMapper"/>
        <mapper class="ORM.Mapper.EnterpriseMapper"/>
        <mapper class="ORM.Mapper.ResourceMapper"/>
        <mapper class="ORM.Mapper.CityMapper"/>
        <mapper class="ORM.Mapper.DistrictMapper"/>
        <mapper class="ORM.Mapper.CommunityMapper"/>
        <mapper class="ORM.Mapper.HouseMapper"/>
    </mappers>
</configuration>