<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ddvudo.ORM.Mapper.CommunityMapper">
    <select id="selectByName" parameterType="String" resultType="ddvudo.ORM.POJO.Community">
        select *
        from Community
        where name = #{name}
        limit 1;
    </select>
    <select id="selectAll" resultType="ddvudo.ORM.POJO.Community">
        select *
        from Community;
    </select>
    <select id="selectByDistrict" resultType="ddvudo.ORM.POJO.Community" parameterType="ddvudo.ORM.POJO.District">
        select *
        from Community
        where district_id = #{id};
    </select>
    <select id="selectHetMapDataByCity" resultType="ddvudo.ORM.POJO.Community" parameterType="ddvudo.ORM.POJO.City">
        select uuid,longitude,latitude,gaode_lat,gaode_lng,unit_price,name
        from Community
        where city_id = #{city_id} order by name
    </select>
    <select id="countPreHouseNumByDistrict" resultType="Integer" parameterType="ddvudo.ORM.POJO.District">
        select sum(count)
        from Community
        where district_id = #{id};
    </select>
    <select id="countPreHouseNumByCity" resultType="Integer" parameterType="ddvudo.ORM.POJO.City">
        select sum(count)
        from Community
        where city_id = #{city_id}
    </select>
    <update id="updateOneLoc" parameterType="ddvudo.ORM.POJO.Community">
        update Community set gaode_lat = #{gaode_lat},gaode_lng=#{gaode_lng} where uuid=#{uuid}
    </update>
</mapper>