<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ORM.Mapper.ResourceMapper">
    <parameterMap id="noIdParMap" type="ORM.POJO.Resource">

    </parameterMap>
    <resultMap id="resourceModel" type="ORM.POJO.Resource">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="pid" property="pid"/>
        <result column="order" property="order"/>
        <result column="level_id" property="levelId"/>
        <result column="level" property="level"/>
    </resultMap>
    <resultMap id="subResourceModel" type="ORM.POJO.Resource" extends="resourceModel">
        <collection property="childList" javaType="java.util.ArrayList" column="id" select="selectResourceList"
                    ofType="ORM.POJO.Resource">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="url" property="url"/>
            <result column="pid" property="pid"/>
            <result column="order" property="order"/>
            <result column="level_id" property="levelId"/>
            <result column="level" property="level"/>
        </collection>
    </resultMap>
    <select id="selectResourceList" resultMap="subResourceModel">
        select *
        From resource
        where pid = #{pid}
        order by "order"
    </select>
    <insert id="addOne" parameterType="ORM.POJO.Resource" useGeneratedKeys="true">
        insert into resource ( name, url, pid,"order",level,level_id)
        values (#{name}, #{url}, #{pid}, #{order},#{level},#{levelId})
    </insert>
    <select id="selectMaxOrder" resultType="Integer">
        select max("order")
        from resource;
    </select>
    <delete id="deleteOne" parameterType="ORM.POJO.Resource">
        delete
        From resource
        where (level_id like CONCAT(SUBSTR((select level_id from (select level_id from resource where id = #{id}) a), 1,
                                           (select level * 2 from (select level from resource where id = #{id}) b)),
                                    '%'))
    </delete>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="resourceModel">
        select *
        from resource
        where id = #{id}
    </select>
    <select id="selectMaxLastLevel" parameterType="ORM.POJO.Resource" resultType="String">
        select max(level_id) as level
        from resource
        where level_id like CONCAT(
                SUBSTR((select level_id from resource where id = #{id}), (select level from resource where id = 2), 2),
                '%')
    </select>
</mapper>