<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><!-- 声明Thymeleaf的命名空间 -->
<head>
    <meta charset="UTF-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href=" ./favicon.ico" rel="shortcut icon"/>
    <title>首页</title>
</head>

<body>
<h6>Welcome to Thymeleaf</h6>
<div>
    <a th:href="@{/signup}">signup</a>
    <a th:href="@{/login}">login</a>
    <a th:href="@{/latest}">latest</a>
</div>
</body>
</html>