<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!-- 声明Thymeleaf的命名空间 -->
<head>
    <meta charset="UTF-8">
    <title>Spittr</title>
    <style type="text/css">
        .singleSpittr td {
            padding: 0.5rem
        }
    </style>
</head>
<body>
<form>
    <table border="1" class="singleSpittr">
        <tr>
            <td>用户名：</td>
            <td><input th:readonly="${view}" th:value="${spittr}?${spittr.username}" type="text"/><br/></td>
        </tr>
        <tr>
            <td>内容：</td>
            <td><textarea style="width: 60rem;height: 5rem;" th:readonly="${view}"
                          th:text="${spittr}?${spittr.content}"></textarea><br/></td>
        </tr>
        <tr>
            <td>发布时间：</td>
            <td><input style="width: auto" th:readonly="${view}"
                       th:value="${spittr}?${#dates.format(spittr.createtime,'yyyy-MM-dd')+'T'+#dates.format(spittr.createtime,'HH:mm:ss')}"
                       type="datetime-local"/></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;" th:if="not ${view}"><input type="submit" value="提交"/></td>
        </tr>
    </table>
</form>
</body>
</html>